<div class="background">
    <app-particles class="particles-js"></app-particles>
    <div class="popup" [@fadeIn] >
      <div class="additional-info-container">
        <h2>¡Gracias por tu compra!</h2>
        <p>Ahora podrás contactarte con uno de nuestros maestros registrando tu número de teléfono.</p>
        <div id="phoneContainer" class="show">
          <div class="input-group">
            <label for="nombreCliente">Nombre completo:</label>
            <input id="nombreCliente" type="text" [(ngModel)]="nombreCliente" required />
          </div>
          <div class="input-group phone-group">
            <div class="phone-select">
              <label for="countryCode">País:</label>
              <select id="countryCode" [(ngModel)]="countryCode" required>
                <option value="+57">+57 (Colombia)</option>
                <option value="+55">+55 (Brasil)</option>
                <option value="+56">+56 (Chile)</option>
                <option value="+593">+593 (Ecuador)</option>
                <option value="+51">+51 (Perú)</option>
                <option value="+52">+52 (México)</option>
                <option value="+591">+591 (Bolivia)</option>
                <option value="+507">+507 (Panamá)</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>
            <div class="phone-input">
              <label for="phoneInput">Número de teléfono:</label>
              <input id="phoneInput" type="text" [(ngModel)]="phone" required />
            </div>
          </div>
          <div id="errorMessage" class="none">Por favor, selecciona un código de país.</div>
          <div id="numErrorMessage" class="none">Por favor, ingresa un número válido.</div>
          <button id ="desplegable" class="desplegable" (click)="submitPhone()">Hablar con el maestro</button>
        </div>
        <div id="thankYouMessage" class="none">¡Gracias por registrar tu número!</div>
      </div>
    </div>
  </div>