<app-particles class="particles-js"></app-particles>
<div class="background">
  <div class="cards-container" [@fadeIn]>
    <div class="card-description">
      <div class="cards">
        <div *ngFor="let card of selectedCards; let i = index" class="card-item">
          <img [src]="card.src" alt="Carta seleccionada" />
          <h3>{{ card.name }}</h3>
        </div>
      </div>
      <div class="description-content">
        <div class="result-page">
        <h3>Descripción General</h3>
        <p [ngClass]="{ blurred: !isPaid, 'no-select': !isPaid  }">{{ descriptionsText }}</p> <!-- Mostrar la descripción concatenada una vez -->
      </div>
      </div>
      <div *ngIf="isPaid" class="result-container">
        <div class="result-content">
          <button class="call-to-action" id="call-to-action" (click)="showPopup()">Hablar con el maestro</button>
        </div>
    </div>
  </div>
</div>