.background {
  background: url("/IMAGEN-ORIGEN-scaled-1.webp") no-repeat center center;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin-top: -23px;
  margin-left: -17px;
  margin-right: -17px;
  margin-bottom: -9px;
  z-index: 1;
  background-attachment: fixed;
}

.particulas {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Deshabilitar el clic derecho */
.no-select {
  pointer-events: none;
}

/* Contenedor principal */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 10px;
  flex-direction: column;
  background: #f8f5f5c7;
  z-index: 1;
}

.swal2-popup {
  width: 90% !important;
  max-width: 400px !important;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Deshabilitar el clic derecho */
.no-select {
  pointer-events: none;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espaciado entre cartas */
  margin-bottom: 20px;
  transform: scaleX(-1)
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}

.blurred p {
  filter: blur(5px);
}

.not-blurred {
  filter: blur(0);
}

.hidden-content {
  display: none;
  z-index: -1;
}

.cards img {
  width: 120px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-item h3 {
  margin-top: 10px;
  font-size: 16px;
  transform: scaleX(-1);
  color: #333;
}

.cards img:hover {
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.8), 0 0 15px rgba(255, 215, 0, 0.6);
  /* Glow al pasar el mouse */
  transform: translateY(-5px) scale(1.05);
  /* Animación de selección */
}

.description-content {
  max-width: 600px;
  margin: 0 auto;
}

.description-content h3 {
  margin-bottom: 10px;
}

.description-content p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  background: linear-gradient(45deg, #ffdd44, #bb8800);
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 0 8px rgba(255, 221, 68, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease
}

button:hover {
  transform: scale(1.15);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.4),
    0 0 25px rgba(203, 161, 53, 1);
}

button:active {
  transform: scale(0.95);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.6);
  background: linear-gradient(45deg, #b68e4c, #8f6f2d);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  font-size: 15px;
  text-align: center;
  color: white;
}

.loading-content img {
  width: 227px;
  height: 180px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .card-description {
    width: 90%;
    min-height: auto;
    overflow-y: scroll;
  }

  .card-description img {
    height: 200px;
  }

  .card-item img {
    width: 100px;
    height: 160px;
  }

  .call-to-action {
    width: 100%;
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
  }
}